.topsearch{
    width: 100%;
    height: calc(115rem / 85);
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span:nth-child(1){
        flex: auto;
        overflow: hidden;
        img{
            width: calc(215rem / 85);
            margin-left: calc(40rem / 85);
        }
    }
    span:nth-child(2){
        box-sizing: border-box;
        i{
            display: inline-block;
            color:  #f47983;
            font-weight: bold;
            margin-right: calc(40rem / 85);
            font-size: calc(40rem /85);
        }
    }
}

.topnav{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: calc(100rem / 85);
    a{
        flex: 1;
        display: inline-block;
        font-size: calc(32rem / 85);
        font-weight: bold;
        color: #000000;
        text-align: center;
    }
    a:nth-last-child(1){
        border-left: 2px solid #fef3f3;
    }
}

.topovera{
    width: 100%;
    position: relative;
    a{
        display: inline-block;
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    ul{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: calc(40rem /85);
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            width: calc(12rem / 85);
            height: calc(12rem / 85);
            margin: calc(0rem / 85) calc(5rem / 85);
            background-color: #999999;
            border-radius: 50%;
        }
        li:nth-last-child(4){
            background-color: white;
        }
    }
}

.topoverb{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    ul{
        width: 100%;
        height: calc(200rem / 85);
        padding: calc(0rem / 85) calc(15rem / 85);
        display: flex;
        // justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        li{
            padding: calc(0rem / 85) calc(7.5rem / 85);
            // overflow: hidden;
            img{
                width: calc(315rem / 85);
                vertical-align: middle;
            }
        }
    }
}

.topfooter{
    width: 100%;
    height: calc(85rem / 85);
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: calc(26rem / 85);
    color: #999999;
    padding: calc(0rem / 85) calc(15rem / 85);
    box-sizing: border-box;
    i{
        display: inline-block;
        margin: calc(0rem / 85) calc(20rem / 85);
        color: #f47983;
        font-weight: bold;
    }
}

.main{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color:#f5f5f5;
}

.mainjp{
    width: 100%;
    padding: calc(0rem / 85) calc(30rem / 85);
    padding-top: calc(30rem / 85);
    box-sizing: border-box;
    margin-top: calc(15rem / 85);
    background-color: #fff;
    .mainjp-linknav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span{
            color: #333333;
            font-size: calc(32rem / 85);
            i{
                display: inline-block;
                color: red;
                margin-right: calc(30rem / 85);
            }
        }
        span:nth-child(2){
            color: #999;
            font-size: calc(26rem / 85);
            i{
                display: inline-block;
                margin-right: calc(0rem / 85);
                margin-left: calc(30rem / 85);
            }
        }
    }
    .mainjp-stylebook{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: calc(32rem / 85) calc(0rem / 85);
        box-sizing: border-box;
        border-bottom: 1px solid #cccc;
        a{
            display: inline-block;
            margin-right: calc(32rem / 85);
            overflow: hidden;
            img{
                width: calc(155rem / 85);
            }
        }
        span{
            flex: 1;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            b{
                display: inline-block;
                font-size: calc(32rem / 85);
                color: #000;
                line-height: 1.3;
            }
            p{
                font-size: calc(26rem / 85);
                color: #999;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                word-break: break-all;
                overflow: hidden;
            }
            small{
                font-size: calc(26rem / 85);
                color: #999;
                line-height: 1.3;
            }
        }
    }
    .mainjp-overimg{
        width: 100%;
        padding: calc(30rem / 85) calc(0rem / 85);
        box-sizing: border-box;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow: hidden;
           li{
               display: inline-block;
               margin-right: calc(60rem / 85);
               a{
                display: inline-block;
                margin-bottom: calc(5rem / 85);
                overflow: hidden;
                img{
                    width: calc(155rem / 85);
                }
               }
                p{
                    font-size: calc(26rem / 85);
                    color: #333333;
                    line-height: 1.3;
                }
                small{
                    font-size: calc(26rem / 85);
                    color: #999;
                    line-height: 1.3;
                }
            }
            li:nth-last-child(1){
                margin: 0px;
            }
           
        }
    }
}

.mainfree{
    width: 100%;
    margin-top: calc(15rem / 85);
    padding: calc(0rem / 85) calc(30rem / 85);
    padding-top: calc(30rem / 85);
    box-sizing: border-box;
    background-color: #fff;
    .mainfree-time{
        width: 100%;
        font-size: calc(32rem / 85);
        color: #f47983;
        padding: calc(30rem / 85) calc(0rem / 85);
        box-sizing: border-box;
        i{
            display: inline-block;
            margin-right: calc(15rem / 85);
        }
        span{
            display: inline-block;
            height: calc(40rem / 85);
            margin-left: calc(10rem / 85);
            s{
                display: inline-block;
                height: 100%;
                width: calc(40rem / 85);
                line-height: calc(40rem / 85);
                background-color: #f47983;
                color: white;
                text-align: center;
                font-size: calc(28rem / 85);
                border-radius: calc(8rem / 85);
                margin: calc(0rem / 85) calc(8rem / 85);
            }
        }
    }
    .mainfree-stylebook{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: calc(32rem / 85) calc(0rem / 85);
        box-sizing: border-box;
        border-bottom: 1px solid #cccc;
        span{
            flex: 1;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            b{
                display: inline-block;
                font-size: calc(32rem / 85);
                color: #000;
                line-height: 1.3;
            }
            p{
                font-size: calc(26rem / 85);
                color: #999;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                word-break: break-all;
                overflow: hidden;
            }
            small{
                font-size: calc(26rem / 85);
                color: #999;
                line-height: 1.3;
            }
        }    
        a{
            display: inline-block;
            margin-left: calc(32rem / 85);
            overflow: hidden;
            img{
                width: calc(155rem / 85);
            }
        }
    }
}

.maingroom{
    width: 100%;
    margin-top: calc(15rem / 85);
    padding: calc(0rem / 85) calc(30rem / 85);
    padding-top: calc(30rem / 85);
    box-sizing: border-box;
    background-color: #fff;
    .maingroom-linknav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span{
            color: #333333;
            font-size: calc(32rem / 85);
            i{
                display: inline-block;
                color: red;
                font-size: calc(34rem / 85);
                margin-right: calc(20rem / 85);
            }
        }
        span:nth-child(2){
            color: #999;
            font-size: calc(26rem / 85);
            i{
                display: inline-block;
                color: #cccccc;
                margin-right: calc(0rem / 85);
                margin-left: calc(30rem / 85);
            }
        }
    }
    .maingroom-overimg{
        width: 100%;
        padding: calc(30rem / 85) calc(0rem / 85);
        box-sizing: border-box;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow: hidden;
           li{
               display: inline-block;
               width: calc(218rem / 85);
               height: calc(295rem /85);
               box-sizing: border-box;
            //    margin-right: calc(60rem / 85);
               a{
                display: inline-block;
                width: 100%;
                height: 100%;
                margin-bottom: calc(5rem / 85);
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                }
               }
                p{
                    font-size: calc(26rem / 85);
                    color: #333333;
                    line-height: 1.3;
                }
                small{
                    font-size: calc(26rem / 85);
                    color: #999;
                    line-height: 1.3;
                }
            }
            li:nth-last-child(1){
                margin: 0px;
            }
        }
    }
    .mainroom-textlist{
        width: 100%;
        span{
            display: inline-block;
            width: 100%;
            height: calc(198rem / 85);
            padding-top: calc(30rem / 85);
            box-sizing: border-box;
            border-top: 1px  solid #cccccc;
        }
        small{
            display: inline-block;
            width: 100%;
            height: 35%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                color: #000;
                font-size: calc(32rem / 85);
            }
            s{
                color: #999;
                font-size: calc(28rem / 85);
            }
        }
        p{
            display: inline-block;
            color: #999999;
            font-size: calc(28rem / 85);
            line-height: 1.8;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
        }
    }
}

.mainbreakup{
    width: 100%;
    margin-top: calc(15rem / 85);
    padding:calc(0rem / 85) calc(30rem / 85);
    box-sizing: border-box;
    padding-top: calc(30rem / 85);
    background-color: #fff;
    .mainbreakup-linknav{
        width: 100%;
        height: calc(90rem / 85);
        display: flex;
        justify-content: start;
        align-items: center;
        span{
            color: #000;
            font-size:calc( 32rem / 85);
            i{
                display: inline-block;
                color: #f47983;
                font-size:calc( 32rem / 85);
                margin-right: calc(15rem /85);
            }
        }
    }
    .mainbreakup-overimg{
        width: 100%;
        padding: calc(30rem / 85) calc(0rem / 85);
        box-sizing: border-box;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow: hidden;
           li{
               display: inline-block;
               width: calc(218rem / 85);
               height: calc(295rem /85);
               box-sizing: border-box;
            //    margin-right: calc(60rem / 85);
               a{
                display: inline-block;
                width: 100%;
                height: 100%;
                margin-bottom: calc(5rem / 85);
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                }
               }
                p{
                    font-size: calc(26rem / 85);
                    color: #333333;
                    line-height: 1.3;
                }
                small{
                    font-size: calc(26rem / 85);
                    color: #999;
                    line-height: 1.3;
                }
            }
            li:nth-last-child(1){
                margin: 0px;
            }
        }
    }
    .mainbreakup-textlist{
        width: 100%;
        span{
            display: inline-block;
            width: 100%;
            height: calc(198rem / 85);
            padding-top: calc(30rem / 85);
            box-sizing: border-box;
            border-top: 1px  solid #cccccc;
        }
        small{
            display: inline-block;
            width: 100%;
            height: 35%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                color: #000;
                font-size: calc(32rem / 85);
            }
            s{
                color: #999;
                font-size: calc(28rem / 85);
            }
        }
        p{
            display: inline-block;
            color: #999999;
            font-size: calc(28rem / 85);
            line-height: 1.8;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
        }
    }
}

.mainappear{
    width: 100%;
    margin-top: calc(15rem / 85);
    padding: calc(0rem / 85) calc(30rem / 85);
    padding-top: calc(30rem / 85);
    box-sizing: border-box;
    background-color: #fff;
    .mainappear-title{
        width: 100%;
        height: calc(90rem / 85);
        display: flex;
        justify-content: start;
        align-items: center;
        span{
            color: #000;
            font-size:calc( 32rem / 85);
            line-height: 1;
            i{
                display: inline-block;
                color: #f47983;
                font-size:calc( 32rem / 85);
                margin-right: calc(15rem /85);
            }
        }
    }
    .mainappear-stylebook{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: calc(32rem / 85) calc(0rem / 85);
        box-sizing: border-box;
        a{
            display: inline-block;
            margin-right: calc(32rem / 85);
            overflow: hidden;
            img{
                width: calc(155rem / 85);
            }
        }
        span{
            flex: 1;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            b{
                display: inline-block;
                font-size: calc(32rem / 85);
                color: #000;
                line-height: 1.3;
            }
            p{
                font-size: calc(26rem / 85);
                color: #999;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                word-break: break-all;
                overflow: hidden;
            }
            small{
                font-size: calc(26rem / 85);
                color: #999;
                line-height: 1.3;
            }
        }
    }
}

.mainsubject{
    width: 100%;
    margin-top: calc(15rem / 85);
    padding: calc(0rem / 85) calc(30rem / 85);
    padding-top: calc(30rem / 85);
    box-sizing: border-box;
    background-color: #fff;
    .mainsubject-linknav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span{
            color: #333333;
            font-size: calc(32rem / 85);
            i{
                display: inline-block;
                color: red;
                font-size: calc(34rem / 85);
                margin-right: calc(20rem / 85);
            }
        }
        span:nth-child(2){
            color: #999;
            font-size: calc(26rem / 85);
            i{
                display: inline-block;
                color: #cccccc;
                margin-right: calc(0rem / 85);
                margin-left: calc(30rem / 85);
            }
        }
    }
    .mainsubject-overimg{
        width: 100%;
        height: calc(255rem / 85);
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        a{
            display: inline-block;
            width: calc(770rem / 85);
            height: calc(230rem / 85);
            border-radius: calc(10rem / 85);
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.mainrecommend{
    width: 100%;
    margin-top: calc(15rem / 85);
    padding: calc(0rem / 85) calc(30rem / 85);
    padding-top: calc(30rem / 85);
    box-sizing: border-box;
    background-color: #fff;
    .mainrecommend-linknav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span{
            color: #333333;
            font-size: calc(32rem / 85);
            i{
                display: inline-block;
                color: red;
                font-size: calc(34rem / 85);
                margin-right: calc(20rem / 85);
            }
        }
        span:nth-child(2){
            color: #999;
            font-size: calc(26rem / 85);
            i{
                display: inline-block;
                color: #cccccc;
                margin-right: calc(0rem / 85);
                margin-left: calc(30rem / 85);
            }
        }
    }
    .mainrecommend-navlist{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: calc(100rem / 85);
        a{
            display: inline-block;
            width: 22%;
            color: rgb(136, 133, 133);
            font-size: calc(26rem / 85);
            line-height: calc(60rem / 85);
            text-align: center;
            background-color: #fbb8be;
            border-radius: 15px;
        }
    }
    .mainrecommend-overimg{
        width: 100%;
        padding: calc(30rem / 85) calc(0rem / 85);
        box-sizing: border-box;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow: hidden;
           li{
               display: inline-block;
               margin-right: calc(60rem / 85);
               a{
                display: inline-block;
                margin-bottom: calc(5rem / 85);
                overflow: hidden;
                img{
                    width: calc(155rem / 85);
                }
               }
                p{
                    font-size: calc(26rem / 85);
                    color: #333333;
                    line-height: 1.3;
                }
                small{
                    font-size: calc(26rem / 85);
                    color: #999;
                    line-height: 1.3;
                }
            }
            li:nth-last-child(1){
                margin: 0px;
            }
           
        }
    }
}

.footer{
    width: 100%;
    margin-top: calc(15rem / 85);
    padding: calc(0rem / 85) calc(30rem / 85);
    padding-top: calc(30rem / 85);
    box-sizing: border-box;
    background-color: #fff;
    .footer-linknav{
        width: 100%;
        height: calc(100rem / 85);
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            color: #000;
            font-size: calc(32rem / 85);
        }
    }
    .footer-wx{
        width: 100%;
        height: calc(45rem / 85);
        display: flex;
        justify-content: center;
        span{
            display: inline-block;
            color: #999;
            font-size: calc(28rem / 85);
            line-height: calc(45rem / 85);
            padding: calc(0rem / 85) calc(10rem / 85);
            border-radius: 15px;
            border: 1px solid #cccccc;
            i{
                // display: inline-block;
                font-size: cala(30rem / 85);
                color: #50d360;
                margin: cala(0rem / 85) cala(10rem / 85);
            }
        }
    }
    .footer-copr{
        width: 100%;
        color: #999;
        font-size: calc(30rem / 85);
        text-align: center;
        line-height: calc(100rem / 85);
    }
}

.footerimg{
    display: inline-block;
    width: 100%;
    img{
        width: 100%;
        height: calc(128rem / 85);
    }
}
.rightfiexd{
    position: fixed;
    right: calc(50rem / 85);
    bottom: calc(300rem / 85);
    img{
        width: calc(115rem / 85);
    }
}