.topad{
    display: flex;
    height: calc(100rem / 85);
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    background-color: #232326;
    .topadleft{
        display: flex;
        justify-content: start;
        align-items: center;
        flex: 70%;
        height: 100%;
        i{
            display: inline-block;
            width: calc(35rem / 85);
            height: calc(35rem / 85);
            background-image: url(../images/downloadcsptopad1.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            margin: calc(0rem / 85) calc(20rem / 85);
            background-size: 100%;
        }
        img{
            width: calc(70rem / 85);
            margin: calc(0rem / 85) calc(20rem / 85);
        }
        span{
            flex: auto;
            text-align: left;
            a,p{
                display: block;
                color: white;
                font-size: calc(26rem / 85);
                line-height: 1.4;
            }
            p{
                color: #999999;
            }
        }
    }
    .topadright{
        flex: 30%;
        height: 100%;
        line-height: calc(100rem / 85);
        text-align: center;
        color: white;
        font-size: calc(28rem / 85);
        background-color: red;
    }
}

.topheaher{
    display: flex;
    justify-content: start;
    align-items: center;
    height: calc(100rem / 85);
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    background-color: #ffffff;
    span{
        color: #333333;
        img{
            width: calc(40rem / 85);
        }
    }
    span:nth-child(1){
       img{
           margin-left: calc(20rem / 85);
       }
    }
    span:nth-child(2){
        flex: auto;
        text-align: center;
        font-size: calc(30rem / 85);
    }
    span:nth-child(3){
        img{
            margin: calc(0rem / 85) calc(20rem / 85);
        }
    }
}

.topnavover{
    width: 100%;
    div{
        width: 100%;
        img{
            width: 100%;
        }
    }
    div:nth-child(2){
        position: relative;
        ul{
            position: absolute;
            top: calc(70rem / 85);
            left: 0px;
            width: 100%;
            li{
                display: flex;
                justify-content: space-around;
                width: 100%;
                overflow: hidden;
                overflow-x: visible;
                a{
                    // text-align: center;
                    border-radius: 8px;
                    box-shadow: 0px 5px 5px #ccc;
                }
                a img{
                    width: calc(400rem / 85);
                }
            }
        }
    }
}

.mainnav{
    width: 100%;
    height: calc(100rem / 85);
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
        color: #000000;
        font-size: calc(34rem / 85);
        font-weight: bold;
    }
    a:nth-last-child(3){
        color: #c08f4e;
    }
}

.container{
    width: 100%;
    padding: calc(20rem / 85);
    background-color: #ffffff;
    ul{
        width: 100%;
        li{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}
.mainlist{
    position: relative;
    width: 49%;
    margin-bottom: calc(20rem / 85);
    background-color: #ffffff;
    padding: calc(0rem / 85) calc(15rem / 85);
    span{
        text-align: center;
        img{
            width: calc(255rem / 85);
            animation: mainlistiimg 2s infinite linear alternate;
        }
    }
    span:nth-child(2){
        display: inline-block;
        position: absolute;
        top: calc(210rem / 85);
        left: 0;
        width: 100%;
        height: calc(65rem / 85);
        color: #000;
        text-align: center;
        line-height: calc(65rem / 85);
        background-color: rgba(red,0.75);
    }
    p{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.3;
        color: #333333;
        font-size: calc(28rem / 85);
        margin: calc(20rem / 85) calc(0rem / 85);
        margin-top: calc(30rem / 85);
    }
    small{
        color: #999999;
        font-size: calc(24rem / 85);
        text-align: left;
        padding: calc(10rem / 85) calc(0rem / 85);
        s{
            color: red;
            font-size: calc(22rem / 85);
        }
        b{
            color: red;
            font-size: calc(30rem / 85);
        }
    }
    span{
        display: inline-block;
        width: 100%;
        margin: calc(10rem / 85) calc(0rem / 85);
        i{
            float: left;
            color: #333333;
            font-size: calc(22rem / 85);
        }
        a{
            float: right;
            color: red;
            font-size: calc(22rem / 85);
            margin-right: calc(25rem / 85);
        }
    }
}
@keyframes mainlistiimg{
    100%{transform: scale(1.2);}
}

.mainitem{
    width: 100%;
    .mainitemloge{
        width: 100%;
        img{
            width: 100%;
        }
       
    }
    .mainitemlist{
        span:nth-child(1){
            display: inline-block;
            width: 100%;
            position: relative;
            margin: calc(20rem / 85) calc(0rem / 85);
            img{
                width: 100%;
            }
            i{
                position: relative;
                position: absolute;
                top: 0px;
                left: 0px;
                color: white;
                font-size: calc(28rem / 85);
                font-weight: bold;
                background-color: rgba(red,0.75);
                animation: mainspanbavolor 2s infinite linear alternate;
                padding: calc(12rem / 85) calc(10rem / 85);
                &::after{
                    content: "";
                    position: absolute;
                    top: 0px;
                    right: -16px;
                    width: 0px;
                    height: 0px;
                    border-right: 13px solid transparent;
                    border-top: 13.5px solid red;
                    border-left: 3px solid red;
                    border-bottom: 13.5px solid red;
                }
            }
        }
        b{
            display: block;
            color: #000000;
            text-align: left;
            font-size: calc(32rem / 85);
            padding: calc(0rem / 85) calc(15rem / 85);
        }
        span:nth-last-child(1){
            display: inline-block;
            text-align: left;
            width: 100%;
            margin: calc(10rem / 85) calc(0rem / 85);
            i,em,a{
                display: inline-block;
                color: #999999;
                font-size: calc(30rem / 85);
            }
            i{
                margin-left: calc(15rem / 85);
            }
            em{
                color: red;
            }
            a{
                float: right;
                margin-right: calc(50rem / 85);
            }
        }
    }
}
@keyframes mainspanbavolor{
    100%{background-color: yellow;}
}