body{
    width: 100%;
    background-color: #f0f2f5;
}

.topbox{
    width: 100%;
    background-color: #fff;
    padding: calc(0rem / 85) calc(20rem / 85);
    .topsearch{
        display: flex;
        width: 100%;
        height: calc(65rem / 85);
        margin: calc(15rem / 85) calc(0rem / 85);
        .topsearch_input{
            height: 100%;
            position: relative;
            flex: auto;
            input{
                width: 100%;
                height: 100%;
                color: #999999;
                text-align: left;
                border-radius: 8px;
                padding-left: calc(15rem / 85);
                font-size: calc(30rem / 85);
                background-color: #f0f2f5;
    
            }
            &>img{
                position: absolute;
                top: calc(14rem / 85);
                right: calc(16rem / 85);
                width: calc(40rem / 85);
            }
        }
        span{
            display: inline-block;
            width: calc(145rem / 85);
            height: 100%;
            text-align: right;
            img{
                width: calc(45rem / 85);
                margin-top: calc(-35rem / 85);
                animation: topsearchright 1.5s infinite linear;
            }
            i{
                display: inline-block;
                width: 45%;
                height: 100%;
                color: #333333;
                font-size: calc(28rem / 85);
            }
        }
    }
    .topnav{
        padding: calc(0rem / 85) calc(25rem / 85);
        width: 100%;
        ul{
            width: 100%;
        }
        .topnavlist{
            width: 100%;
            display: flex;
            justify-content: space-around;
            a{
                display: inline-block;
                text-align: center;
                width: calc(105rem / 85);
                img{
                    width: calc(80rem / 85);
                    margin-top: calc(25rem / 85);
                    animation: topnavimg 2s infinite linear;
                }
                i{
                    display: inline-block;
                    color: #333333;
                    padding: calc(15rem / 85) calc(0rem / 85);
                    font-size: calc(22rem / 85);
                    // margin: calc(15rem / 85) calc(0rem / 85);
                }
            }
        }
    }
    .topaffiche{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: calc(65rem / 85);
        border-top: 1px solid #999999;
        b{
            display: inline-block;
            width: 20%;
            font-size: calc(30rem / 85);
            color: black;
            s{
                color: red;
            }
        }
        span{
            display: inline-block;
            width: 75%;
            font-size: calc(26rem / 85);
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden; 
            i{
                color: red;
                font-size: calc(22rem / 85);
                padding: calc(3rem / 85);
                border: 1px solid red;
            }
        }
        small{
            display: inline-block;
            width: calc(85rem / 85);
            text-align: right;
            color: #201d1d;
            font-size: calc(22rem / 85);
        }
    }
}
@keyframes topnavimg{
    100%{transform: rotateZ(360deg) scale(1.2);}
}
@keyframes topsearchright{
    100%{transform: translateY(5px);}
}

.imgnav{
    margin-top: calc(20rem / 85);
    background-color: #fff;
}
.imgnavtop{
    width: 100%;
    height: calc(235rem / 85);
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
    span{
        overflow: hidden;
        float: left;
        img{
            width: 100%;
            height: 100%;
        }
    }
    span:nth-child(1){
        width: 66.5%;
        height: 100%;
        border-right: 1px solid #cccccc;
    }
    span:nth-child(2){
        width: 30%;
    }
}
.imgnavbottom{
    width: 100%;
    height: calc(480rem / 85);
    border-bottom: 1px solid #cccccc;
    span:nth-child(1){
        float: left;
        width: 33.333%;
        height: 100%;
        border-right: 1px solid #cccccc;
    }
    span{
        float: left;
        width: 33.333%;
        height: 50%;
        overflow: hidden;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        img{
            width: 100%;
            height: 100%;
        }
    }
   
}

.adimg{
    width: 100%;
    height: calc(175rem / 85);
    margin: calc(20rem /85) calc(0rem /85);
    img{
        width: 100%;
        height: 100%;
    }
}

.mainnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #333333;
    font-size: calc(24rem /85);
    height: calc(95rem /85);
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    a{
        position: relative;
        img{
            width: calc(20rem /85);
            margin-left: calc(5rem / 85);
            vertical-align: middle;
        }
        &:after{
            content: "";
            position: absolute;
            top: calc(-8rem /85);
            right: calc(-45rem /85);
            width: calc(1rem /85);
            height: calc(45rem / 85);
            border: .5px solid #cccccc;
        }
    }
    a:nth-last-child(1){
        height: calc(50rem / 85);
        line-height: calc(50rem / 85);
        color: white;
        text-align: center;
        width: calc(80rem / 85);
        background-color: red;
        border-radius: 5px;
    }
}

@keyframes mainimg{
    100%{transform: scale(1.2);}
}
.container{
    width: 100%;
    box-sizing: border-box;
    padding: calc(0rem /85) calc(20rem /85);
    .maincontent{
        display: flex;
        width: 100%;
        height: calc(250rem / 85);
        padding: calc(20rem /85) calc(0rem /85);
        border-bottom: 1px solid #cccccc;
        div:nth-child(1){
            position: relative;
            width: auto;
            height: 100%;
            margin-right: calc(20rem / 85);
            overflow: hidden;
            img{
                width: 215rem / 85;
                height: 100%;
                animation: mainimg 2s infinite linear alternate;
            }
            span{
                position: absolute;
                top: 0px;
                left: 0px;
                i,b{
                    display: inline-block;
                    font-size: calc(26rem / 85);
                    color: white;
                    padding: calc(0rem /85) calc(16rem /85);
                    line-height: calc(40rem / 85);
                    background-color: #e3874c;
                }
                b{
                    color: #cf9f49;
                    background-color: #f6e38b;
                }
            }
        }
        .maincontent_left{
            width: auto;
            height: 100%;
            p{
                color: #333333;
                font-size: calc(26rem / 85);
                line-height: 1.5;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            span{
                display: block;
                color: #999999;
                font-size: calc(24rem / 85);
                margin: calc(10rem / 85) calc(0rem / 85);
                b{
                    color: red;
                    font-size: calc(30rem / 85);
                }
                small{
                    display: inline-block;
                    padding-left: calc(32rem / 85);
                    background-image: url(../images/downloadcfmainidimg.png);
                    background-repeat: no-repeat;
                    background-position: calc(9rem / 85) calc(-1rem / 85);
                    background-size: 22%;
                    animation: mainleftid 1.5s infinite linear;
                }
            }
            span:nth-last-child(1){
                display: inline-block;
                color: #333333;
                margin: 0px;
                height: calc(45rem / 85);
                font-size: calc(28rem / 85);
                background-color: #cccccc;
                a{
                    display: inline-block;
                    color: white;
                    line-height: calc(45rem / 85);
                    padding: calc(0rem / 85) calc(15rem / 85);
                    background-color: red;
                    border-radius: 0px 15px 15px 0px;
                }
                strong{
                    display: inline-block;
                    line-height: calc(45rem / 85);
                    padding: calc(0rem / 85) calc(15rem / 85);
                }
            }   
        }
    }
}
@keyframes mainleftid{
    100%{transform: translateY(5px);}
}

.footerjz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(95rem / 85);
    box-sizing: border-box;
    background-color: #eeeaea;
    img{
        width: calc(45rem / 85);
        animation: footerjzimg 2s infinite linear;
    }
    margin-bottom: calc(127rem / 95);
}
@keyframes footerjzimg{
    100%{transform: rotateZ(360deg);}
}

.bottomnav{
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #ffffff;
    height: calc(115rem / 85);
    box-shadow: calc(115rem / 85) calc(-5rem / 85) calc(8rem / 85) #cccccc;
    a{
        display: inline-block;
        width: calc(60rem / 85);
        height: 100%;
        padding-top: calc(10rem / 85);
        text-align: center;
        img{
            width: 100%;
            animation: bottomimg 2s infinite linear;
        }
        i{
            display: inline-block;
            font-size: calc(28rem / 85);
            color: #333333;
            margin-top: calc(8rem / 85);
            font-style: normal;
        }
    }
    a:nth-child(1){
        i{
            color: red;
        }
    }
}
@keyframes bottomimg{
    100%{transform: translateY(3px);}
}